body {
    background: #8a90a4;
}
#link-populate {
    margin: 20px;
}
.search-button {
    margin: 5px;
    background: lightblue;
    border-style: none;
}
#add-term {
    background: maroon;
    color: beige;
    font-weight: bold;
    border-style: none;
}
